.big-gap {
  gap: 5rem; /* oder 4rem, 5rem – so groß wie du willst */
}

.flex-btn {
  flex: 0 1 250px;
  margin: 0 0.5rem;
  white-space: nowrap;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #002cf0;
  border: 2px solid #000874;
  transition: all 0.3s ease; /* sanfter Übergang */
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

/* Hover-Effekt */
.flex-btn:hover {
  background-color: #000bac; /* neue Hintergrundfarbe beim Hover */
  color: #ffffff; /* Textfarbe ändern */
  border-color: #000bac; /* optional: Randfarbe anpassen */
  cursor: pointer; /* zeigt Hand-Symbol */
}
