<div class="container my-5 px-0" *ngIf="pageData">
  <div class="mb-4">
    <h2 class="mb-3">{{ pageData.title }}</h2>
    <p class="mb-0">
      {{ pageData.description }}
    </p>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-sm-6 col-lg-3 mb-4" *ngFor="let sea of pageData.seas">
      <div class="card h-100 shadow-sm">
        <a [routerLink]="['/animals']">
          <img
            class="card-img-top img-fluid"
            [src]="images?.[sea.imageId]?.src"
            [alt]="images?.[sea.imageId]?.alt || sea.name"
            style="cursor: pointer; object-fit: cover; height: 160px"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ sea.name }}</h5>
          <p class="card-text mb-0">
            {{ sea.shortDescription }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
