body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url('/assets/images/main-picture.jpg');
  background-size: cover;
}
