<div class="container my-5 px-0" *ngIf="pageData">
  <div class="row align-items-start home-hero">
    <!-- Linke Spalte: Bild  -->
    <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
      <div class="home-hero__image-wrapper">
        <img
          [src]="pageData.sections[0].image?.src"
          [alt]="pageData.sections[0].image?.alt || ''"
          class="img-fluid home-hero__image"
          (click)="openModal()"
        />
        <div class="home-hero__image-badge" [routerLink]="['/seas']">
          🌊 {{ pageData.sections[0].linkText }}
        </div>
      </div>
    </div>

    <!-- Rechte Spalte: Text  -->
    <div class="col-lg-6 col-md-12 home-hero__content">
      <h2 class="mb-3 home-hero__title">
        {{ pageData.sections[0].headline }}
      </h2>

      <p
        class="home-hero__text"
        *ngFor="let paragraph of pageData.sections[0].paragraphs; let last = last"
        [ngClass]="{ 'mb-2': !last, 'mb-0': last }"
      >
        {{ paragraph }}
      </p>

      <button class="btn home-hero__cta mt-2" [routerLink]="['/seas']">🌊 Zu den Meeren</button>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade custom-image-modal" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark border-0" (click)="closeModal()">
      <!-- CLOSE BUTTON -->
      <button
        type="button"
        class="btn-close btn-close-white position-absolute top-0 end-0 m-4"
        aria-label="Close"
        (click)="closeModal(); $event.stopPropagation()"
      ></button>

      <div class="modal-body p-0 d-flex justify-content-center align-items-center">
        <img
          class="modal-img home-hero__modal-image"
          [src]="pageData.sections[0].image?.src"
          [alt]="pageData.sections[0].image?.alt || ''"
          (click)="$event.stopPropagation()"
        />
      </div>
    </div>
  </div>
</div>
